body {
	width: 875px;
	height: auto;
	margin: auto;
	font-family: Arial, sans-serif;
    font-size: 12pt;
	box-shadow: 10px 2px 17px 1px, -10px 2px 17px 1px; 
	border: 2px solid steelblue;
	border-width: 2px;
	position: relative;
}


table{
	margin: 1em;
}

h1{
	margin: 1em;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	width: 40em;
	padding: 0.5em;
}

td.right{
	text-align: right;
}

th.left{
	text-align: left;
}

th.right{
	text-align: right;
}

h2.tableheader{
	font-weight: bold;
	color: maroon;
	margin: 1em;
}

ol, li.explain{
	padding: 0.25em;
	margin-left: 1em;
}

header {
		padding: 0em;
		margin: 0em;
		border: 2px solid steelblue;
		background-image: linear-gradient( to bottom, white, steelblue 200%);
       }
	   
#nav_menu ul {list-style-type: none; padding: 0em; margin: 0em;
			  text-align: center;border-top: 1px solid black;border-bottom: 1px solid black;}	  
#nav_menu ul {list-style: none;position: relative; }
#nav_menu ul li { float: left; display: inline; padding: 0em; }
#nav_menu ul ul {display: none;position: absolute;top: 100%;}     
#nav_menu ul li a {font-weight: bold;color: blue; }         
#nav_menu ul ul li { float: none; }

#nav_menu ul li:hover > ul {display: block;}
#nav_menu > ul::after {content: "";display: block;clear: both; }
#nav_menu ul li a.current { color: black; }

#nav_menu ul {list-style-type: none;}		
#nav_menu ul li {float: left;}  
#nav_menu ul li a{text-align: center; display: block; width: 175px; padding: 1em 0;
background-color: steelblue; color: white; font-weight:bold; text-decoration: none;}
#nav_menu ul li a:hover {background-color: lightsteelblue; font-weight:bold;}

p {
	margin: 1em;
}